<h3>Satellite Counts:</h3>
<div  class="counts">
   <div>Total: <span>{{totalSats()}}</span></div>
   <div>Space Debris: <span>{{numOfItems("Space Debris")}}</span></div>
   <div>Communication: <span>{{numOfItems("Communication")}}</span></div>
   <div>Probe: <span>{{numOfItems("Probe")}}</span></div>
   <div>Positioning: <span>{{numOfItems("Positioning")}}</span></div>
   <div>Space Station: <span>{{numOfItems("Space Station")}}</span></div>
   <div>Telescope: <span>{{numOfItems("Telescope")}}</span></div>
</div>